<!DOCTYPE html>
<html lang="en">
<head>

  <script src='/socket.io/socket.io.js'></script>

  <script>
      var socket = io().connect("/");

      socket.on('messageToView', function(data) {
          //alert(data);
          addMessage(data.time);
      });
      socket.on('error', console.error.bind(console));
      socket.on('message', console.log.bind(console));

      function addMessage(message) {
          var text = document.createTextNode(message),
              el = document.createElement('li'),
              messages = document.getElementById('messages');

          el.appendChild(text);
          messages.appendChild(el);


      }


  </script>


</head>
<body >


  <h1>
    This is the index page
  </h1>
    asda asdasda sdasdasdasdasd
      <br>
      <ul id='messages'></ul>

</body>
</html>
